<div class="wrapper">
  <div class="zone">
    <input  class="input" type="password" [formControl]="passwordControl" placeholder="Enter your password">

    <div class="password-strength-meter">
      <div [class]="'password-strength-meter__section ' + passwordStrengthClasses[0]"></div>
      <div [class]="'password-strength-meter__section ' + passwordStrengthClasses[1]"></div>
      <div [class]="'password-strength-meter__section ' + passwordStrengthClasses[2]"></div>
    </div>
  </div>
</div>
